# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Debug
/GAME540 Computer Graphics/GAME540_Labs/*.opensdf

/GAME500 Game Engine Design/GAME500-OGRE/*.opensdf
/GAME520 Game Dynamics 3/GAME520-Labs/*.opensdf
/GAME500 Game Engine Design/GAME500-OGRE/*.sdf
