4# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.idb
*.suo
*.tlog
*.opensdf
*.pdb
*.ilk
*.sdf
*/Debug/*.log
*/Debug/*.obj
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
/GAME540 Computer Graphics/GAME540_Labs/GAME540-Lab-3_Multi-Object/stdafx.cpp

/GAME540 Computer Graphics/GAME540_Labs/GAME540-Lab-3_Multi-Object/stdafx.h
/GAME540 Computer Graphics/GAME540_Labs/GAME540-Lab-3_Multi-Object/targetver.h
