4# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.idb
*.suo
*.tlog
*.opensdf
*.pdb
*.ilk
*/Debug/*.log
*/Debug/*.obj
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/